<br>
<nav>
    <a href="/cadastrar_produto">Cadastrar produto</a>&emsp;
    <a href="/listar_produto">Listar produto</a>&emsp;
    <a href="/editar_produto">Editar produto</a>&emsp;
    <a href="/excluir_produto">Excluir produto</a>
</nav>
<br>
<h2>Consulta do produto atual</h2>
<form action="/consulta_produto" method="post">
    <label for="nome">Nome do produto:</label><br>
    <input type="text" name="nome" placeholder="nome do produto"><br>
    <br>
    <button type="submit">Enviar</button>
</form>
<br>
<table>
    <thead>
        <th>Nome</th>
        <th>Código</th>
        <th>Modelo</th>
        <th>Marca</th>
        <th>Tipo</th>
        <th>Quantidade em estoque</th>
        <th>Preço R$</th>
    </thead>
    <tbody>
   {{#if valores}}
        <tr>
            <td>{{valor.nome_produto}}</td>
            <td>{{valor.cod_produto}}</td>
            <td>{{valor.modelo}}</td>
            <td>{{valor.marca}}</td>
            <td>{{valor.tipo}}</td>
            <td>{{valor.qtde_estoque}}</td>
            <td>{{valor.preco}}</td>
        </tr>
    {{/if}}
    </tbody>
</table>
<br>
<h2>Atualização do Produto</h2>
<br>
<form action="/editarProduto" method="post">
    <label for="nome_produto">Nome do produto:</label><br>
    <input type="text" name="nome_produto" placeholder="Nome do produto">
    <br>
    <label for="cod_produto">Código do produto:</label><br>
    <input type="text" name="cod_produto" placeholder="Código do produto">
    <br>
    <label for="modelo">Modelo do produto:</label><br>
    <input type="text" name="modelo" placeholder="Modelo do produto">
    <br>
    <label for="marca">Marca do produto:</label><br>
    <input type="text" name="marca" placeholder="Marca do produto">
    <br>
    <label for="tipo">Tipo do produto:</label><br>
    <input type="text" name="tipo" placeholder="Profissional ou iniciante">
    <br>
    <label for="qtde_estoque">Quantidade em estoque do produto:</label><br>
    <input type="text" name="qtde_estoque" placeholder="Quantidade em estoque">
    <br>
    <label for="preco">Preço do produto:</label><br>
    <input type="text" name="preco" placeholder="Preco do produto"><br>
    <br><br>
    <button type="submit">Enviar</button>
</form>
{{#if msg}}
    <p>{{msg}}</p>
{{/if}} 